<div class="flex justify-content-center">
  <div class="flex flex-row">
    <button pButton class="flex m-2" label="Home" routerLink=""></button>
    <button pButton class="flex m-2" label="Login" routerLink="/login"></button>
    <button
      pButton
      class="flex m-2"
      label="Register"
      routerLink="/register"
    ></button>
    <button
      pButton
      class="flex m-2"
      label="Profile"
      routerLink="/profile"
    ></button>
    <button
      *ngIf="(isLogged$ | async) == true"
      pButton
      class="flex m-2 p-button-danger"
      label="Log out"
      (click)="logOut()"
    ></button>
  </div>
</div>
