<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="flex justify-content-center">
    <div class="col-4 m-6">
      <div class="col-12 m-2">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input
            formControlName="username"
            type="text"
            pInputText
            placeholder="Username"
          />
        </div>
      </div>
      <div class="col-12 m-2">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input
            formControlName="email"
            type="text"
            pInputText
            placeholder="Email"
          />
        </div>
      </div>
      <div class="col-12 m-2">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            formControlName="password"
            [type]="isPasswordVisible ? 'text' : 'password'"
            pInputText
            placeholder="Password"
          />
        </div>
      </div>
      <div class="col-12 m-2">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            formControlName="passwordConfirm"
            [type]="isPasswordVisible ? 'text' : 'password'"
            pInputText
            placeholder="Confirm password"
          />
        </div>
      </div>
      <app-register-form-errors
        [isFormSubmitted]="isFormSubmitted"
        [registerForm]="registerForm"
      ></app-register-form-errors>
      <div class="col-12 m-2">
        <small class="text-layout">
          The password must meet these three requirements:
          <br />
          - At least one lowercase.
          <br />
          - At least one uppercase.
          <br />
          - At least one numeric.
          <br />
          - Minimum 8 characters.
        </small>
      </div>
      <div class="col-12 m-2">
        <div class="p-inputgroup">
          <p-checkbox
            (onChange)="isPasswordVisible = !isPasswordVisible"
            [binary]="true"
            inputId="binary"
          ></p-checkbox>
          <label class="text-layout m-2"> Mostrar contraseñas</label>
        </div>
      </div>
      <div class="col-12 m-2 flex justify-content-end">
        <button type="submit" pButton label="Register"></button>
      </div>
    </div>
  </div>
</form>
